@font-face {
  font-family: "Roboto Light";
  src: url(font/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(font/Roboto-Regular.ttf);
}

body {
  font-family: "Roboto Light";
  background-color: #272727;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px, 0px;
  color: #ffe400;
}

body h2 {
  text-shadow: 3px 2px #272727;
}

body p {
  text-shadow: 1px 1px #272727;
  font-size: 30px;
}

.wrapper {
  margin: 0px, 0px;
  padding: 0px, 0px;
}

.container {
  margin: 0 17%;
  display: block;
}

.box {
  display: block;
  text-align: center;
  padding: 2%;
}

.img-box {
  display: block;
  text-align: center;
}

.img-centered-responsive {
  position:relative;
  max-width:75%;
  max-height:100%;
}

.button {
  background-color: #ff652f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #272727;
  display: inline-block;
  font-size: 40px;
  font-family: "Roboto Regular";
  border-radius: 4em;
  margin: 5% 2%; 
}

.button:hover {
  background-color: #ffe400;
  color: #ff652f;
  text-shadow: none;
  font-weight: bold;
}

.box .button {
  font-size: 30px;
}

.img-text {
  font-size: 20px;
}

.box p {
  padding: 0 10%;
  line-height: 1.5;
}

.missionstatement {
  font-size: 2em;
  text-align: center;
  display: block;
  color: #ffe400;
  text-shadow: 3px 2px #272727;
  font-family: "Roboto Regular";
  padding: 0 10%;
  margin: 0 0;
}

.wattylogo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 25%;
  height: auto;
}

.wattylogo:hover {
  content: url("img/wattylogo2.png")
}

.wattyStatement{
  background-image: url(img/light-bulbs-1875268_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0px;
  padding-bottom: 5em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
}

.topbox {
  font-size: 25px;
}

.topbox ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
  display: flex;
  justify-content: space-around;
}

.topbox li {
  float: left;
}

.topbox .active {
  color: #ffe400;
}

.topbox li a {
  display: block;
  color: #ff652f;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 1em;
}

.topbox li a:hover {
  background-color: #272727;
  color: #ffe400;
}

.rightbox {
  float: right;
}

ol {
  font-size: 30px;
  text-align: left;
  margin: 0 10%;
  line-height: 2;
}

.button-small {
  font-size: 25px;
  background-color: #ff652f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #272727;
  font-family: "Roboto Regular";
  border-radius: 4em;
  margin: 0% 1%;
}

.button-small:hover {
  background-color: #ffe400;
  color: #ff652f;
  text-shadow: none;
  font-weight: bold;
}

ol a {
  color: #ff652f;
}

p a {
  color: #ff652f;
}

footer {
  padding: 0.1%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  bottom: 0;
}

footer p {
  font-size: 15px;
  color: white;
}

.cv-container {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
}

.cv-box {
  background-color: none;
  color: #ffe400;
  padding: 1rem;
  height: auto;
}

.cv-box ul {
  list-style-type: none;
  text-align: left;
}

.cv-box h3 {
  font-size: 20px;
  text-align: left;
  color: #ff652f;
}

.cv-box p {
  font-size: 20px;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 12px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: #ff652f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #ffe400;
  color: black;
}


.contact-container {
  border-radius: 5px;
  background-color: #272727;
  padding: 1% 20%;
}

/* Responsiv kode */

@media screen and (min-width: 601px) {

  .missionstatement {
    font-size: 40px;
  }

  .container {
    margin: 0 17%;
  }

  .topbox li {
    font-size: 1em;
  }

  .button {
    font-size: 40px;
  }

  .box p {
    font-size: 30px;
  }

  .box .button {
    font-size: 30px;
  }

  .box h2 {
    font-size: 50px;
  }

}

@media screen and (max-width: 1230px) {

  .missionstatement {
    font-size: 30px;
    padding: 0 5%;
  }

  .container {
    margin: 0 5%;
  }

  ol {
    margin: 0 7%;
    font-size: 25px;
  }

  .topbox li {
    font-size: 0.75em;
  }

  .button {
    font-size: 30px;
    margin-top: 7%;
  }

  .box p {
    font-size: 25px;
  }

  .box .button {
    font-size: 25px;
  }

  .button-small {
    font-size: 20px;
    padding: 5px 3px;
  }

  .box h2 {
    font-size: 40px;
  }

}

@media screen and (max-width: 608px) {

  .missionstatement {
    font-size: 25px;
    padding: 0 2%;
  }

  .container {
    margin: 0 0;
  }

  ol {
    margin: 5%;
    font-size: 17px;
  }

  .topbox li {
    font-size: 0.5em;
  }

  .button {
    font-size: 20px;
  }

  .box p {
    font-size: 20px;
  }

  .box .button {
    font-size: 20px;
  }

  .button-small {
    font-size: 15px;
    padding: 5px 3px;
  }

  .img-box {
    font-size: 10px;
  }

  .img-text {
    font-size: 13px;
  }

  .box h2 {
    font-size: 30px;
  }

}

@media screen and (max-width: 420px) {
  ol {
    margin: 0 2%;
  }
}

@media screen and (max-width: 690px) {

  #map {
    max-width: 100%;
  }

}

@media screen and (min-width: 890px){
  .cv-container {
    grid-template-columns: repeat(2, 1fr);
  }
}