@font-face {
  font-family: "Roboto";
  src: url(font/Roboto-Light.ttf);
}

body {
  font-family: "Roboto";
    background-color: #272727;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px, 0px;
}

.wrapper {
    margin: 0px, 0px;
    padding: 0px, 0px;
}

.missionstatement {
    font-size: 35px;
    text-align: center;
    display: block;
}

.wattylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 25%;
    height: auto;

}

.wattylogo:hover {
    content: url("img/wattylogo2.png")
}

.wattyStatement{
    background-image: url(img/light-bulbs-1875268_1920.jpg);
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.topbox {
    font-size: 25px;
    margin: 0px, 0px;
    padding: 0px, 0px;
}

.container {
  display: block;
}

h2 {
  text-align: center;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ff652f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #272727;
  color: #ffe400;
}

.rightbox {
    float: right;
}

.active {
    color: #ffe400;
}


